@import "../node_modules/@angular/material/theming";
@include mat-core();

$primary-color: mat-palette($mat-teal, 800);
$primary-accent: mat-palette($mat-light-green, 800);

$my-theme: mat-light-theme($primary-color, $primary-accent);

@include angular-material-theme($my-theme);

.alternative {
  $primary-color: mat-palette($mat-amber, 800);
  $primary-accent: mat-palette($mat-light-green, 800);

  $my-theme: mat-light-theme($primary-color, $primary-accent);

  @include angular-material-theme($my-theme);
}
